@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-poppins: Poppins, sans-serif;
  --font-sora: Sora, sans-serif;
  --color-blue: #003ea4;
  --color-gold: #ffd337;
  --color-navy: #0e2954;
}

.Toastify__toast {
  width: 340px;
  margin: 12px 12px 0px;
  font-family: "Sora", sans-serif;
  color: #131313;
}

@media screen and (min-width: 640px) {
  .Toastify__toast {
    width: 412px;
  }
}
